$primary-colour: #7CA982;
$secondary-colour: #F1F7ED;
$tertiary-colour: black;
$submit-btn-hover-colour: #bdf09a;
$reset-btn-hover-colour: #57a161;

$small-screen: 390px;
$medium-screen: 480px;
$large-screen: 650px;

$bright-blue: #7efcf6;
$darker-bright-blue: #06d8d7;
$darkest-blue: #001a1a;
$transparent-dark-blue: rgba(41, 134, 139, 0.2);
$transparent-light-blue: rgba(0, 188, 212, 0.33);
$light-gray: rgba(199, 199, 199, 1);
$grayish-blue: rgba(90, 122, 122, 1);