@import "_variables.scss";

.background-img {
  position: absolute;
  background: url(assets/media/morse-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  opacity: 25%;
}

.page-title {
  text-align: center;
  padding: 100px;
  text-shadow: 0px 1px $primary-colour, 1px 2px $primary-colour, 2px 3px $primary-colour, 3px 4px $primary-colour, 5px 6px $secondary-colour;

  @media only screen and (min-width: $large-screen) {
    font-size: 48px;
  }
}

.translation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  
}

.english-word {
  font-size: 15px;
  border: 2px solid $tertiary-colour;

  @media only screen and (min-width: $small-screen) {
    width: 35vh;
  }

  @media only screen and (min-width: $medium-screen) {
    width: 50vh;
    font-size: 20px;
  }

  @media only screen and (min-width: $large-screen) {
    width: 70vh;
    font-size: 30px;
  }
}

.morse-translation {
  padding: 20px 5px 0px;
  border: 2px solid $tertiary-colour;

  @media only screen and (min-width: $small-screen) {
    width: 35vh;
  }

  @media only screen and (min-width: $medium-screen) {
    width: 50vh;
    font-size: 20px;
  }

  @media only screen and (min-width: $large-screen) {
    width: 70vh;
    font-size: 30px;
  }
}