$primary-colour:  rgba(0, 188, 212, 0.33);
$secondary-colour: rgba(199, 199, 199, 1);
$tertiary-colour: #001a1a;
$submit-btn-hover-colour: #7efcf6;
$reset-btn-hover-colour: #06d8d7;
$btn-background-colour: #69faf8d4;
$border-color: rgb(75, 133, 133);
$input-fill-colour: rgb(187, 223, 255);

$small-screen: 390px;
$medium-screen: 480px;
$large-screen: 650px;


